.lyric-preview__topic {
  font-weight: bold;
  font-size: var(--font-m);
  margin: var(--gutter-m) 0;
  margin-left: var(--gutter-m);
}

.lyric-preview__visible-rhyme {
  font-size: var(--font-m);
  font-weight: lighter;
}

.lyric-preview__visible-rhymes {
  margin-left: var(--gutter-m);
  display: grid;
  grid-gap: var(--gutter-s);
}
