:root {
  --color-lightgrey: #eee;
  --color-grey: #999;
  --color-darkgrey: #777;
  --color-green: #5e4;
  --color-blue: #57e;
  --font-xs: 0.5em;
  --font-s: 0.7em;
  --font-m: 1em;
  --font-l: 1.5em;
  --font-xl: 2em;
  --font-xxl: 3em;

  --gutter-xs: 0.25em;
  --gutter-s: 0.5em;
  --gutter-m: 1em;
  --gutter-l: 1.5em;
  --gutter-xl: 2em;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-l);
}

button {
  padding: 8px;
  box-sizing: border-box;
  border: none;
  background: var(--color-green);
  font-size: 16px;
}

.button__secondary {
  background: none;
  padding: 0;
  text-decoration: underline;
  color: var(--color-blue);
}

.label {
  color: var(--color-grey);
  font-size: var(--font-s);
  margin: var(--gutter-m) 0;
}

label {
  color: var(--color-darkgrey);
}

input[type='checkbox'] {
  margin-right: var(--gutter-m);
}

p {
  font-weight: lighter;
}
